.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-top: -20%;
  pointer-events: none;
  position: relative;
  left: 0%;
}

.App-header {
  background-color: #F4ECEC;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: #F4ECEC;
}

.Header-logo {
  height: 100px;
  margin-top: 10px;
  pointer-events: none;
  position: relative;
  left: -45%;
}

.slogan {
  font-size: 20px;
  height: 30px;
  font-family: 'Monaco', monospace;
  color: #000000;
  margin-top: -110px;
  position: relative;
}